<h2>Edit Title</h2>

<%= render "form.html", changeset: @changeset,
                        action: title_path(@conn, :update, @title) %>

<span><%= link "Back", to: title_path(@conn, :index) %></span>